{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<div class="tag-cloud">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <a href="{{ .Permalink }}" class="tag-cloud-item" data-count="{{ $count }}">
        <span class="tag-name">{{ .Name }}</span>
        <span class="tag-count">{{ $count }}</span>
    </a>
    {{- end }}
    {{- end }}
</div>

{{- end }}{{/* end main */ -}}
